	.ICEauthority
	.bash_history
	.bash_logout
	.bashrc
	.cache/*
	.config/*



	.gnupg/*
	.local/*

	.mozilla/*
	.pki/*
	.profile
	build-untitled-Desktop-Debug/*






	untitled/*
	"\320\224\320\276\320\272\321\203\320\274\320\265\320\275\321\202\321\213/"





















